::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

* {
	font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

body {
	margin: 1rem;
}
h1 {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 0.1rem;
}

.set {
	width: 4rem;
	height: 4rem;
	display: inline-block;
	padding: 0.5rem;
	margin: 0.5rem;
	cursor: pointer;
}
.set:hover {
	background-color: #D4D4D8; /*gray 300*/
}
.set-code {
	font-weight: bold;
}
.set-name {
	text-overflow: ellipsis;
	color: #3F3F46; /*gray700*/
	font-size: small;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 1rem;
	background-color: #FFFFFFCC;
}
.overlay .close {
	position: fixed;
	top: 1rem;
	right: 2rem;
	padding: 0.5rem;
	color: #3F3F46; /*gray 700*/
	background-color: #FFF;
	border-radius: 0.25rem;
	border: 2px solid #3F3F46; /*gray 700*/
	font-weight: bold;
	font-size: larger;
	cursor: pointer;
}
.overlay .close:hover {
	background-color: #3F3F46; /*gray 700*/
	color: #FFF;
}

*:focus {
	outline: none;
	box-shadow: 4px 4px 0px #D4D4D8; /*gray 300*/
}

img.card {
	width: 45vw;
	margin: 0.5rem;
}

@media (min-width: 640px) { /* sm */
	img.card {
		width: 30vw;
	}
}

@media (min-width: 768px) { /* md */
	img.card {
		width: 22vw;
	}
}

@media (min-width: 1024px) { /* lg */
	img.card {
		width: 15vw;
	}
}

@media (min-width: 1280px) { /* xl */
	img.card {
		width: 12vw;
	}
}